Mews.Fiscalization.Greece/src/Mews.Fiscalization.Greece.Tests/Data/Schemas/InvoicesDoc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:inv="http://www.aade.gr/myDATA/invoice/v1.0" xmlns:icls="https://www.aade.gr/myDATA/incomeClassificaton/v1.0" xmlns:ecls="https://www.aade.gr/myDATA/expensesClassificaton/v1.0" targetNamespace="http://www.aade.gr/myDATA/invoice/v1.0" elementFormDefault="qualified" version="0.6">
  <xs:import namespace="https://www.aade.gr/myDATA/incomeClassificaton/v1.0" schemaLocation="incomeClassification-v0.6.xsd"/>
  <xs:import namespace="https://www.aade.gr/myDATA/expensesClassificaton/v1.0" schemaLocation="expensesClassification-v0.6.xsd"/>
  <xs:element name="InvoicesDoc">
    <xs:annotation>
      <xs:documentation>Παραστατικό ΑΑΔΕ</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded">
        <xs:element name="invoice" type="inv:AadeBookInvoiceType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="AadeBookInvoiceType">
    <xs:sequence>
      <xs:element name="uid" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Αναγνωριστικό Παραστατικού</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="mark" type="xs:long" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Μοναδικός Αριθμός Καταχώρησης Παραστατικού</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="cancelledByMark" type="xs:long" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Μοναδικός Αριθμός Καταχώρησης Ακυρωτικού</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="authenticationCode" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Συμβολοσειρά Αυθεντικοποίησης Παρόχου</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="transmissionFailure" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Αδυναμία Επικοινωνίας Παρόχου</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:byte">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="issuer" type="inv:PartyType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Στοιχεία Εκδότη</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="counterpart" type="inv:PartyType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Στοιχεία Λήπτη</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="invoiceHeader" type="inv:InvoiceHeaderType">
        <xs:annotation>
          <xs:documentation>Γενικά Στοιχεία</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="paymentMethods" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Πληρωμές</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="paymentMethodDetails" type="inv:PaymentMethodDetailType" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>Στοιχεία Πληρωμών</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="invoiceDetails" type="inv:InvoiceRowType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Λεπτομέρειες Παραστατικού</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="taxesTotals" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Σύνολα Φόρων</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="taxes" type="inv:TaxTotalsType" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="invoiceSummary" type="inv:InvoiceSummaryType">
        <xs:annotation>
          <xs:documentation>Συγκεντρωτικά Στοιχεία</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InvoiceHeaderType">
    <xs:sequence>
      <xs:element name="series">
        <xs:annotation>
          <xs:documentation>Σειρά Παραστατικού</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="aa">
        <xs:annotation>
          <xs:documentation>ΑΑ Παραστατικού</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="issueDate" type="xs:date">
        <xs:annotation>
          <xs:documentation>Ημερομηνία Έκδοσης</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="invoiceType" type="inv:InvoiceType">
        <xs:annotation>
          <xs:documentation>Είδος Παραστατικού</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="vatPaymentSuspension" type="xs:boolean" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Αναστολή Καταβολής ΦΠΑ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="currency" type="inv:CurrencyType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Νόμισμα</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="exchangeRate" type="inv:ExchangeRateType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Ισοτιμία</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="correlatedInvoices" type="xs:long" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Συσχετιζόμενα Παραστατικά</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="selfPricing" type="xs:boolean" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Ένδειξη Αυτοτιμολόγησης</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dispatchDate" type="xs:date" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Ημερομηνία  Έναρξης Αποστολής</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dispatchTime" type="xs:time" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Ώρα Έναρξης Αποστολής</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="vehicleNumber" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Αριθμός Οχήματος</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Αριθμός Μεταφορικού Μέσου</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:maxLength value="150"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="movePurpose" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Σκοπός Διακίνησης</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="8"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InvoiceRowType">
    <xs:sequence>
      <xs:element name="lineNumber">
        <xs:annotation>
          <xs:documentation>ΑΑ Γραμμής</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="quantity" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Ποσότητα</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:minExclusive value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="measurementUnit" type="inv:QuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Είδος Ποσότητας</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="invoiceDetailType" type="inv:InvoiceDetailType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Επισήμανση</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="netValue" type="inv:AmountType">
        <xs:annotation>
          <xs:documentation>Καθαρή Αξία</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="vatCategory" type="inv:VatType">
        <xs:annotation>
          <xs:documentation>Κατηγορία ΦΠΑ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="vatAmount" type="inv:AmountType">
        <xs:annotation>
          <xs:documentation>Ποσό ΦΠΑ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="vatExemptionCategory" type="inv:VatExemptionType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Κατηγορία Αιτίας Εξαίρεσης ΦΠΑ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dienergia" type="inv:ShipType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ΠΟΛ 1177/2018 Αρ. 27</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="discountOption" type="xs:boolean" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Δικαίωμα Έκπτωσης</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="withheldAmount" type="inv:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Ποσό Παρ. Φόρου</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="withheldPercentCategory" type="inv:WithheldType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Κατηγορία Συντελεστή  Παρ. Φόρου</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="stampDutyAmount" type="inv:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Ποσό Χαρτοσήμου</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="stampDutyPercentCategory" type="inv:StampDutyType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Κατηγορία Συντελεστή  Χαρτοσήμου</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="feesAmount" type="inv:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Ποσό Τελών</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="feesPercentCategory" type="inv:FeesType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Κατηγορία Συντελεστή Τελών</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="otherTaxesPercentCategory" type="inv:OtherTaxesType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Κατηγορία Συντελεστή Λοιπών Φόρων</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="otherTaxesAmount" type="inv:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Ποσό Φόρου Διαμονης</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="deductionsAmount" type="inv:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Ποσό Κρατήσεων</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="lineComments" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Σχόλια Γραμμής</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Σχόλια</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:maxLength value="150"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="incomeClassification" type="icls:IncomeClassificationType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Λίστα Χαρακτηρισμών Εσόδων</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="expensesClassification" type="ecls:ExpensesClassificationType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Λίστα Χαρακτηρισμού Εξόδων</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InvoiceSummaryType">
    <xs:sequence>
      <xs:element name="totalNetValue" type="inv:AmountType">
        <xs:annotation>
          <xs:documentation>Σύνολο Καθαρής Αξίας</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="totalVatAmount" type="inv:AmountType">
        <xs:annotation>
          <xs:documentation>Σύνολο ΦΠΑ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="totalWithheldAmount" type="inv:AmountType">
        <xs:annotation>
          <xs:documentation>Σύνολο Παρ. Φόρων</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="totalFeesAmount" type="inv:AmountType">
        <xs:annotation>
          <xs:documentation>Σύνολο Τελών</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="totalStampDutyAmount" type="inv:AmountType">
        <xs:annotation>
          <xs:documentation>Σύνολο Χαρτοσήμου</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="totalOtherTaxesAmount" type="inv:AmountType">
        <xs:annotation>
          <xs:documentation>Σύνολο Λοιπών Φόρων</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="totalDeductionsAmount" type="inv:AmountType">
        <xs:annotation>
          <xs:documentation>Σύνολο Κρατήσεων</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="totalGrossValue" type="inv:AmountType">
        <xs:annotation>
          <xs:documentation>Συνολική Αξία</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="incomeClassification" type="icls:IncomeClassificationType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Λίστα Χαρακτηρισμών Εσόδων</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="expensesClassification" type="ecls:ExpensesClassificationType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyType">
    <xs:sequence>
      <xs:element name="vatNumber" type="xs:string">
        <xs:annotation>
          <xs:documentation>ΑΦΜ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="country" type="inv:CountryType">
        <xs:annotation>
          <xs:documentation>Κωδ, Χώρας</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="branch" type="xs:int">
        <xs:annotation>
          <xs:documentation>Αρ. Εγκατάστασης</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="name" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Επωνυμία</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Επωνυμία</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:maxLength value="150"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="address" type="inv:AddressType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Διεύθυνση</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element name="street" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Επωνυμία</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:maxLength value="150"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="number" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Αριθμός</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="postalCode" type="xs:string">
        <xs:annotation>
          <xs:documentation>ΤΚ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="city">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Πόλη</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:maxLength value="150"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ShipType">
    <xs:sequence>
      <xs:element name="applicationId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Αριθμός Δήλωσης διενέργειας δραστηριότητας</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="applicationDate" type="xs:date">
        <xs:annotation>
          <xs:documentation>Ημερομηνία Δήλωσης</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="doy" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>ΔΟΥ Δήλωσης</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:maxLength value="150"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="shipId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Στοιχεία Πλοίου</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentMethodDetailType">
    <xs:sequence>
      <xs:element name="type">
        <xs:annotation>
          <xs:documentation>Τύπος Πληρωμής</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="5"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="amount" type="inv:AmountType">
        <xs:annotation>
          <xs:documentation>Αναλογούν Ποσό</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="paymentMethodInfo" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Λοιπές Πληροφορίες</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxTotalsType">
    <xs:sequence>
      <xs:element name="taxType">
        <xs:annotation>
          <xs:documentation>Είδος Φόρου</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:byte">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="5"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="taxCategory" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Κατηγορία Φόρου</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:byte">
            <xs:minInclusive value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="underlyingValue" type="inv:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Υποκείμενη Αξία</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="taxAmount">
        <xs:annotation>
          <xs:documentation>Ποσό Φόρου</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="inv:AmountType"/>
        </xs:simpleType>
      </xs:element>
      <xs:element name="id" type="xs:byte" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CountryType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AD"/>
      <xs:enumeration value="AE"/>
      <xs:enumeration value="AF"/>
      <xs:enumeration value="AG"/>
      <xs:enumeration value="AI"/>
      <xs:enumeration value="AL"/>
      <xs:enumeration value="AM"/>
      <xs:enumeration value="AN"/>
      <xs:enumeration value="AO"/>
      <xs:enumeration value="AQ"/>
      <xs:enumeration value="AR"/>
      <xs:enumeration value="AS"/>
      <xs:enumeration value="AT"/>
      <xs:enumeration value="AU"/>
      <xs:enumeration value="AW"/>
      <xs:enumeration value="AX"/>
      <xs:enumeration value="AZ"/>
      <xs:enumeration value="BA"/>
      <xs:enumeration value="BB"/>
      <xs:enumeration value="BD"/>
      <xs:enumeration value="BE"/>
      <xs:enumeration value="BF"/>
      <xs:enumeration value="BG"/>
      <xs:enumeration value="BH"/>
      <xs:enumeration value="BI"/>
      <xs:enumeration value="BJ"/>
      <xs:enumeration value="BL"/>
      <xs:enumeration value="BM"/>
      <xs:enumeration value="BN"/>
      <xs:enumeration value="BO"/>
      <xs:enumeration value="BR"/>
      <xs:enumeration value="BS"/>
      <xs:enumeration value="BT"/>
      <xs:enumeration value="BV"/>
      <xs:enumeration value="BW"/>
      <xs:enumeration value="BY"/>
      <xs:enumeration value="BZ"/>
      <xs:enumeration value="CA"/>
      <xs:enumeration value="CC"/>
      <xs:enumeration value="CD"/>
      <xs:enumeration value="CF"/>
      <xs:enumeration value="CG"/>
      <xs:enumeration value="CH"/>
      <xs:enumeration value="CI"/>
      <xs:enumeration value="CK"/>
      <xs:enumeration value="CL"/>
      <xs:enumeration value="CM"/>
      <xs:enumeration value="CN"/>
      <xs:enumeration value="CO"/>
      <xs:enumeration value="CR"/>
      <xs:enumeration value="CU"/>
      <xs:enumeration value="CV"/>
      <xs:enumeration value="CX"/>
      <xs:enumeration value="CY"/>
      <xs:enumeration value="CZ"/>
      <xs:enumeration value="DE"/>
      <xs:enumeration value="DJ"/>
      <xs:enumeration value="DK"/>
      <xs:enumeration value="DM"/>
      <xs:enumeration value="DO"/>
      <xs:enumeration value="DZ"/>
      <xs:enumeration value="EC"/>
      <xs:enumeration value="EE"/>
      <xs:enumeration value="EG"/>
      <xs:enumeration value="EH"/>
      <xs:enumeration value="ER"/>
      <xs:enumeration value="ES"/>
      <xs:enumeration value="ET"/>
      <xs:enumeration value="FI"/>
      <xs:enumeration value="FJ"/>
      <xs:enumeration value="FK"/>
      <xs:enumeration value="FM"/>
      <xs:enumeration value="FO"/>
      <xs:enumeration value="FR"/>
      <xs:enumeration value="GA"/>
      <xs:enumeration value="GB"/>
      <xs:enumeration value="GD"/>
      <xs:enumeration value="GE"/>
      <xs:enumeration value="GF"/>
      <xs:enumeration value="GG"/>
      <xs:enumeration value="GH"/>
      <xs:enumeration value="GI"/>
      <xs:enumeration value="GL"/>
      <xs:enumeration value="GM"/>
      <xs:enumeration value="GN"/>
      <xs:enumeration value="GP"/>
      <xs:enumeration value="GQ"/>
      <xs:enumeration value="GR"/>
      <xs:enumeration value="GS"/>
      <xs:enumeration value="GT"/>
      <xs:enumeration value="GU"/>
      <xs:enumeration value="GW"/>
      <xs:enumeration value="GY"/>
      <xs:enumeration value="HK"/>
      <xs:enumeration value="HM"/>
      <xs:enumeration value="HN"/>
      <xs:enumeration value="HR"/>
      <xs:enumeration value="HT"/>
      <xs:enumeration value="HU"/>
      <xs:enumeration value="ID"/>
      <xs:enumeration value="IE"/>
      <xs:enumeration value="IL"/>
      <xs:enumeration value="IM"/>
      <xs:enumeration value="IN"/>
      <xs:enumeration value="IO"/>
      <xs:enumeration value="IQ"/>
      <xs:enumeration value="IR"/>
      <xs:enumeration value="IS"/>
      <xs:enumeration value="IT"/>
      <xs:enumeration value="JE"/>
      <xs:enumeration value="JM"/>
      <xs:enumeration value="JO"/>
      <xs:enumeration value="JP"/>
      <xs:enumeration value="KE"/>
      <xs:enumeration value="KG"/>
      <xs:enumeration value="KH"/>
      <xs:enumeration value="KI"/>
      <xs:enumeration value="KM"/>
      <xs:enumeration value="KN"/>
      <xs:enumeration value="KP"/>
      <xs:enumeration value="KR"/>
      <xs:enumeration value="KW"/>
      <xs:enumeration value="KY"/>
      <xs:enumeration value="KZ"/>
      <xs:enumeration value="LA"/>
      <xs:enumeration value="LB"/>
      <xs:enumeration value="LC"/>
      <xs:enumeration value="LI"/>
      <xs:enumeration value="LK"/>
      <xs:enumeration value="LR"/>
      <xs:enumeration value="LS"/>
      <xs:enumeration value="LT"/>
      <xs:enumeration value="LU"/>
      <xs:enumeration value="LV"/>
      <xs:enumeration value="LY"/>
      <xs:enumeration value="MA"/>
      <xs:enumeration value="MC"/>
      <xs:enumeration value="MD"/>
      <xs:enumeration value="ME"/>
      <xs:enumeration value="MF"/>
      <xs:enumeration value="MG"/>
      <xs:enumeration value="MH"/>
      <xs:enumeration value="MK"/>
      <xs:enumeration value="ML"/>
      <xs:enumeration value="MM"/>
      <xs:enumeration value="MN"/>
      <xs:enumeration value="MO"/>
      <xs:enumeration value="MP"/>
      <xs:enumeration value="MQ"/>
      <xs:enumeration value="MR"/>
      <xs:enumeration value="MS"/>
      <xs:enumeration value="MT"/>
      <xs:enumeration value="MU"/>
      <xs:enumeration value="MV"/>
      <xs:enumeration value="MW"/>
      <xs:enumeration value="MX"/>
      <xs:enumeration value="MY"/>
      <xs:enumeration value="MZ"/>
      <xs:enumeration value="NA"/>
      <xs:enumeration value="NC"/>
      <xs:enumeration value="NE"/>
      <xs:enumeration value="NF"/>
      <xs:enumeration value="NG"/>
      <xs:enumeration value="NI"/>
      <xs:enumeration value="NL"/>
      <xs:enumeration value="NO"/>
      <xs:enumeration value="NP"/>
      <xs:enumeration value="NR"/>
      <xs:enumeration value="NU"/>
      <xs:enumeration value="NZ"/>
      <xs:enumeration value="OM"/>
      <xs:enumeration value="PA"/>
      <xs:enumeration value="PE"/>
      <xs:enumeration value="PF"/>
      <xs:enumeration value="PG"/>
      <xs:enumeration value="PH"/>
      <xs:enumeration value="PK"/>
      <xs:enumeration value="PL"/>
      <xs:enumeration value="PM"/>
      <xs:enumeration value="PN"/>
      <xs:enumeration value="PR"/>
      <xs:enumeration value="PS"/>
      <xs:enumeration value="PT"/>
      <xs:enumeration value="PW"/>
      <xs:enumeration value="PY"/>
      <xs:enumeration value="QA"/>
      <xs:enumeration value="RE"/>
      <xs:enumeration value="RO"/>
      <xs:enumeration value="RS"/>
      <xs:enumeration value="RU"/>
      <xs:enumeration value="RW"/>
      <xs:enumeration value="SA"/>
      <xs:enumeration value="SB"/>
      <xs:enumeration value="SC"/>
      <xs:enumeration value="SD"/>
      <xs:enumeration value="SE"/>
      <xs:enumeration value="SG"/>
      <xs:enumeration value="SH"/>
      <xs:enumeration value="SI"/>
      <xs:enumeration value="SJ"/>
      <xs:enumeration value="SK"/>
      <xs:enumeration value="SL"/>
      <xs:enumeration value="SM"/>
      <xs:enumeration value="SN"/>
      <xs:enumeration value="SO"/>
      <xs:enumeration value="SR"/>
      <xs:enumeration value="ST"/>
      <xs:enumeration value="SV"/>
      <xs:enumeration value="SY"/>
      <xs:enumeration value="SZ"/>
      <xs:enumeration value="TC"/>
      <xs:enumeration value="TD"/>
      <xs:enumeration value="TF"/>
      <xs:enumeration value="TG"/>
      <xs:enumeration value="TH"/>
      <xs:enumeration value="TJ"/>
      <xs:enumeration value="TK"/>
      <xs:enumeration value="TL"/>
      <xs:enumeration value="TM"/>
      <xs:enumeration value="TN"/>
      <xs:enumeration value="TO"/>
      <xs:enumeration value="TR"/>
      <xs:enumeration value="TT"/>
      <xs:enumeration value="TV"/>
      <xs:enumeration value="TW"/>
      <xs:enumeration value="TZ"/>
      <xs:enumeration value="UA"/>
      <xs:enumeration value="UG"/>
      <xs:enumeration value="UM"/>
      <xs:enumeration value="US"/>
      <xs:enumeration value="UY"/>
      <xs:enumeration value="UZ"/>
      <xs:enumeration value="VA"/>
      <xs:enumeration value="VC"/>
      <xs:enumeration value="VE"/>
      <xs:enumeration value="VG"/>
      <xs:enumeration value="VI"/>
      <xs:enumeration value="VN"/>
      <xs:enumeration value="VU"/>
      <xs:enumeration value="WF"/>
      <xs:enumeration value="WS"/>
      <xs:enumeration value="YE"/>
      <xs:enumeration value="YT"/>
      <xs:enumeration value="ZA"/>
      <xs:enumeration value="ZM"/>
      <xs:enumeration value="ZW"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="InvoiceType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="1.1"/>
      <xs:enumeration value="1.2"/>
      <xs:enumeration value="1.3"/>
      <xs:enumeration value="1.4"/>
      <xs:enumeration value="1.5"/>
      <xs:enumeration value="1.6"/>
      <xs:enumeration value="2.1"/>
      <xs:enumeration value="2.2"/>
      <xs:enumeration value="2.3"/>
      <xs:enumeration value="2.4"/>
      <xs:enumeration value="3.1"/>
      <xs:enumeration value="3.2"/>
      <xs:enumeration value="4"/>
      <xs:enumeration value="5.1"/>
      <xs:enumeration value="5.2"/>
      <xs:enumeration value="6.1"/>
      <xs:enumeration value="6.2"/>
      <xs:enumeration value="7.1"/>
      <xs:enumeration value="8.1"/>
      <xs:enumeration value="8.2"/>
      <xs:enumeration value="11.1"/>
      <xs:enumeration value="11.2"/>
      <xs:enumeration value="11.3"/>
      <xs:enumeration value="11.4"/>
      <xs:enumeration value="11.5"/>
      <xs:enumeration value="12"/>
      <xs:enumeration value="13.1"/>
      <xs:enumeration value="13.2"/>
      <xs:enumeration value="13.3"/>
      <xs:enumeration value="13.4"/>
      <xs:enumeration value="13.30"/>
      <xs:enumeration value="13.31"/>
      <xs:enumeration value="14.1"/>
      <xs:enumeration value="14.2"/>
      <xs:enumeration value="14.3"/>
      <xs:enumeration value="14.4"/>
      <xs:enumeration value="14.5"/>
      <xs:enumeration value="14.30"/>
      <xs:enumeration value="14.31"/>
      <xs:enumeration value="15.1"/>
      <xs:enumeration value="16.1"/>
      <xs:enumeration value="17.1"/>
      <xs:enumeration value="17.2"/>
      <xs:enumeration value="17.3"/>
      <xs:enumeration value="17.4"/>
      <xs:enumeration value="17.5"/>
      <xs:enumeration value="17.6"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CurrencyType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AED"/>
      <xs:enumeration value="AFN"/>
      <xs:enumeration value="ALL"/>
      <xs:enumeration value="AMD"/>
      <xs:enumeration value="ANG"/>
      <xs:enumeration value="AOA"/>
      <xs:enumeration value="ARS"/>
      <xs:enumeration value="AUD"/>
      <xs:enumeration value="AWG"/>
      <xs:enumeration value="AZN"/>
      <xs:enumeration value="BAM"/>
      <xs:enumeration value="BBD"/>
      <xs:enumeration value="BDT"/>
      <xs:enumeration value="BGN"/>
      <xs:enumeration value="BHD"/>
      <xs:enumeration value="BIF"/>
      <xs:enumeration value="BMD"/>
      <xs:enumeration value="BND"/>
      <xs:enumeration value="BOB"/>
      <xs:enumeration value="BOV"/>
      <xs:enumeration value="BRL"/>
      <xs:enumeration value="BSD"/>
      <xs:enumeration value="BTN"/>
      <xs:enumeration value="BWP"/>
      <xs:enumeration value="BYR"/>
      <xs:enumeration value="BZD"/>
      <xs:enumeration value="CAD"/>
      <xs:enumeration value="CDF"/>
      <xs:enumeration value="CHF"/>
      <xs:enumeration value="CLF"/>
      <xs:enumeration value="CLP"/>
      <xs:enumeration value="CNY"/>
      <xs:enumeration value="COP"/>
      <xs:enumeration value="COU"/>
      <xs:enumeration value="CRC"/>
      <xs:enumeration value="CUC"/>
      <xs:enumeration value="CUP"/>
      <xs:enumeration value="CVE"/>
      <xs:enumeration value="CZK"/>
      <xs:enumeration value="DJF"/>
      <xs:enumeration value="DKK"/>
      <xs:enumeration value="DOP"/>
      <xs:enumeration value="DZD"/>
      <xs:enumeration value="EEK"/>
      <xs:enumeration value="EGP"/>
      <xs:enumeration value="ERN"/>
      <xs:enumeration value="ETB"/>
      <xs:enumeration value="EUR"/>
      <xs:enumeration value="FJD"/>
      <xs:enumeration value="FKP"/>
      <xs:enumeration value="GBP"/>
      <xs:enumeration value="GEL"/>
      <xs:enumeration value="GHS"/>
      <xs:enumeration value="GIP"/>
      <xs:enumeration value="GMD"/>
      <xs:enumeration value="GNF"/>
      <xs:enumeration value="GTQ"/>
      <xs:enumeration value="GWP"/>
      <xs:enumeration value="GYD"/>
      <xs:enumeration value="HKD"/>
      <xs:enumeration value="HNL"/>
      <xs:enumeration value="HRK"/>
      <xs:enumeration value="HTG"/>
      <xs:enumeration value="HUF"/>
      <xs:enumeration value="IDR"/>
      <xs:enumeration value="ILS"/>
      <xs:enumeration value="INR"/>
      <xs:enumeration value="IQD"/>
      <xs:enumeration value="IRR"/>
      <xs:enumeration value="ISK"/>
      <xs:enumeration value="JMD"/>
      <xs:enumeration value="JOD"/>
      <xs:enumeration value="JPY"/>
      <xs:enumeration value="KES"/>
      <xs:enumeration value="KGS"/>
      <xs:enumeration value="KHR"/>
      <xs:enumeration value="KMF"/>
      <xs:enumeration value="KPW"/>
      <xs:enumeration value="KRW"/>
      <xs:enumeration value="KWD"/>
      <xs:enumeration value="KYD"/>
      <xs:enumeration value="KZT"/>
      <xs:enumeration value="LAK"/>
      <xs:enumeration value="LBP"/>
      <xs:enumeration value="LKR"/>
      <xs:enumeration value="LRD"/>
      <xs:enumeration value="LSL"/>
      <xs:enumeration value="LTL"/>
      <xs:enumeration value="LVL"/>
      <xs:enumeration value="LYD"/>
      <xs:enumeration value="MAD"/>
      <xs:enumeration value="MDL"/>
      <xs:enumeration value="MGA"/>
      <xs:enumeration value="MKD"/>
      <xs:enumeration value="MMK"/>
      <xs:enumeration value="MNT"/>
      <xs:enumeration value="MOP"/>
      <xs:enumeration value="MRO"/>
      <xs:enumeration value="MUR"/>
      <xs:enumeration value="MVR"/>
      <xs:enumeration value="MWK"/>
      <xs:enumeration value="MXN"/>
      <xs:enumeration value="MXV"/>
      <xs:enumeration value="MYR"/>
      <xs:enumeration value="MZN"/>
      <xs:enumeration value="NAD"/>
      <xs:enumeration value="NGN"/>
      <xs:enumeration value="NIO"/>
      <xs:enumeration value="NOK"/>
      <xs:enumeration value="NPR"/>
      <xs:enumeration value="NZD"/>
      <xs:enumeration value="OMR"/>
      <xs:enumeration value="PAB"/>
      <xs:enumeration value="PEN"/>
      <xs:enumeration value="PGK"/>
      <xs:enumeration value="PHP"/>
      <xs:enumeration value="PKR"/>
      <xs:enumeration value="PLN"/>
      <xs:enumeration value="PYG"/>
      <xs:enumeration value="QAR"/>
      <xs:enumeration value="RON"/>
      <xs:enumeration value="RSD"/>
      <xs:enumeration value="RUB"/>
      <xs:enumeration value="RWF"/>
      <xs:enumeration value="SAR"/>
      <xs:enumeration value="SBD"/>
      <xs:enumeration value="SCR"/>
      <xs:enumeration value="SDG"/>
      <xs:enumeration value="SEK"/>
      <xs:enumeration value="SGD"/>
      <xs:enumeration value="SHP"/>
      <xs:enumeration value="SLL"/>
      <xs:enumeration value="SOS"/>
      <xs:enumeration value="SRD"/>
      <xs:enumeration value="STD"/>
      <xs:enumeration value="SVC"/>
      <xs:enumeration value="SYP"/>
      <xs:enumeration value="SZL"/>
      <xs:enumeration value="THB"/>
      <xs:enumeration value="TJS"/>
      <xs:enumeration value="TMT"/>
      <xs:enumeration value="TND"/>
      <xs:enumeration value="TOP"/>
      <xs:enumeration value="TRY"/>
      <xs:enumeration value="TTD"/>
      <xs:enumeration value="TVD"/>
      <xs:enumeration value="TWD"/>
      <xs:enumeration value="TZS"/>
      <xs:enumeration value="UAH"/>
      <xs:enumeration value="UGX"/>
      <xs:enumeration value="USD"/>
      <xs:enumeration value="UYU"/>
      <xs:enumeration value="UZS"/>
      <xs:enumeration value="VEF"/>
      <xs:enumeration value="VND"/>
      <xs:enumeration value="VUV"/>
      <xs:enumeration value="WST"/>
      <xs:enumeration value="XAF"/>
      <xs:enumeration value="XCD"/>
      <xs:enumeration value="XOF"/>
      <xs:enumeration value="XPD"/>
      <xs:enumeration value="XPF"/>
      <xs:enumeration value="YER"/>
      <xs:enumeration value="ZAR"/>
      <xs:enumeration value="ZMK"/>
      <xs:enumeration value="ZWL"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExchangeRateType">
    <xs:restriction base="xs:decimal">
      <xs:minExclusive value="0"/>
      <xs:fractionDigits value="5"/>
      <xs:maxInclusive value="50000"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="InvoiceDetailType">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="QuantityType">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VatType">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VatExemptionType">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="23"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="WithheldType">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="15"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StampDutyType">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FeesType">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="9"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="OtherTaxesType">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="14"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DeductionsType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="100"/>
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AmountType">
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="2"/>
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
